# dependencies
node_modules/
dist/
package-lock.json
package-lock.json

# testing
coverage/

# production
build/

# misc
.DS_STORE
*.log
.DS_Store
Thumbs.db
.env
.idea
npm-debug.log
compilation-stats.json

# python server

# for test class
test.py

# pycache file
__pycache__/

# configure host and port
configure
