matrix:
  include:
    - language: python
      python:
        - 3.6
        - nightly
      install:
        - pip install PyMySQL
      script:
        - python Test/test_test.py

    - language: node_js
      node_js:
        - "stable"
      before_script:
        - npm install
        - npm install --global gulp
        - npm install --save-dev gulp
        - npm install --save-dev gulp-util
        - npm init
      script: 
        - gulp
