matrix:
  include:
    - language: python
      python:
        - "3.6"
        - "nightly"
      before_install:
        - cd Test
      install:
        - pip install -r requirements.txt
        - pip install PyMySQL
      script: 
        - pytest

    - sudo: false
      language: node_js
      node_js:
        - "5"
        - "6"
      cache:
        yarn: true
        directories:
          - node_modules
      before_install:
        - cd Admin
      script:
        - yarn link
        - yarn test
        - yarn build
      after_success:
        - yarn codecov

notifications:
  email: false
