matrix:
  include:
    - language: python
      python:
        - 3.6
        - nightly
      install:
        - pip install PyMySQL
      script:
        - python Test/test_test.py

    - language: node_js
      node_js:
        - "iojs"
        - "7"
      before_script:
        - npm install -g gulp-cli
      script: 
        - gulp
