matrix:
  include:
    - language: python
      python:
        - 3.6
        - nightly
      install:
        - pip install PyMySQL
      script:
        - python Test/test_test.py

    - language: node_js
      node_js:
        - "stable"
      install:
        - npm install
        - npm install -g gulp-cli
        - npm init
      script: Test/gulp
